@charset "UTF-8";
/*リセットCSSここから*/
*{
	margin: 0;
	padding: 0;
}


li{
	list-style-type: none;
}

img{
	border: none;
	display: block;
}


a{
	text-decoration: none;
}
/*リセットCSSここまで*/

body{
   font-family: "ヒラギノ明朝 ProN","Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
   font-size: 18px;
   line-height: 1.5;
 }
 h1, h2, h2, h3, h5, h6{
   font-size: 100%; 
}


#header_top{
	overflow: hidden;
	margin-top: 20px;
}
#logo{
	overflow: hidden;
	margin-bottom: 30px;
	float: left;
}

header #logo a img{
	clear: both;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
	
}
#headerSub{
	float: right;
	width: 160px;
	border-bottom: 3px solid #0e2f8e;
	text-align: center;
	margin-top: 44px;
	margin-right: 12%;
}
#headerSub a{
	color: #0e2f8e;
	font-size: 18px;
	font-weight: 600;
}

#gNavi{
	overflow: hidden;
	text-align: center;
	clear: both;
	width: 92%;
	margin: 0 auto;
}
#gNavi ul{
	margin: 0;
	padding: 0;
	
}
#gNavi ul li{
	display: inline-block;
	width: 18%;
}

/*メイン*/
h1{
	width: 63%;
	margin: 0 auto;
	/* margin-top: 229px; */
}
#main_box{
	background-image: url("../../images/bcmain.png");
	width: 100%;
	height: 100vh;
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	
}
#main_box h1{
	width: auto;
	margin: 0;
}
.title_style{
	border-bottom: 3px solid #0e2f8e;
	width: 33%;
	margin-left: 20px;
	margin-top: 70px;
	margin-bottom: 100px;
}



#about{
	display: block;
    margin: 20px;
	margin: 0 auto;
	width: 71%;
}

#aboutInner{
	display: flex;
	align-items: center;
	justify-content: space-between;
    width: 100%;
	/* margin: 0 auto; */
	}
#aboutText{
	width: 70%;
}
	
#aboutInner img{
	width: 100%;
/*
	height: auto;
	margin-left: 200px
*/
}

#faculty_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
 margin-top: 30px;
}

.faculty_1{
	font-size: 24px;
	margin-top: 10px;
}
.faculty_2{
	margin-left: 50px;	
	
}

.faculty_3{
	display: block;
	align-items: center;
	font-size: 16px;
	margin-top: 20px;
}
#faculty_fix{
	line-height: 29px;
}
#works1,#works2,#works3{
	width: 65%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
#works2{
	float: right;
}
#works3{
	clear: both;
}
#works1 div,#works2 div,#works3 div{
	width: 53%;
}
#worksbotan{
	margin-right: 100px;
	float: right;
}
#works{
	margin-bottom: 100px;
}
#works_wrapper{
	width: 1000px;
	margin: 0 auto;
}


/* #works1{
	margin-top: 20px;
	display: flex;
}
#works1 div{
	margin: 0 auto;
	margin-top: 70px;
	margin-left: 50px
	
}
#works1 img{
	margin-left: 150px;
}
#works2{
	margin-top: 20px;
	display: flex;
}
#works2 img{
	margin-right: 200px;
}
#works2 div{
	margin: 0 auto;
	margin-left: 850px;
	margin-top: 60px;
}
#works3{
	display: flex;
	
}
#works3 img{
	margin-left: 150px;
}
#works3 div{
	margin: 0 auto;
	margin-top: 70px;
	margin-left: 50px;
}
#worksbotan{
	margin-top: 250px;
	margin-left: 150px;
	margin-right: 30px;
} */
#title_contact{
	margin: 0 auto;
}
#title_contact img{
	margin: 0 auto;
}
#contacttext1{
	font-size: 24px;
	text-align: center;
	margin-top: 35px;
}
#contacttext2{
	font-size: 18px;
	text-align: center;
	margin-top: 50px;
	color: #0e2f8e;
}
#contactInneer{
	display: flex;
	justify-content: space-between;
/*	align-items: center;*/
	width: 50%;
	margin: 0 auto;
	margin-top: 30px;
	
}

#contacttext3{
	text-align: center;
	font-size: 18px;
	margin-top: 50px;
}
#campus a{
	margin-top: 25px;
	display: block;
}
#online a{
	margin-top: 25px;
	display: block;
}
#contact_btn{
	text-align: center;
	margin: 20px auto;
	color: #0e2f8e;
}
#contact_btn p{
	font-size: 18px;
}
#contact_btn a{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 20%;
}
/*
#contact_btn a{
	text-align: center;
	margin-top: 20px;
}
*/

footer{
	background-color: #0e2f8e;
	width: 100%;
	height: 315px;
}
#footerLogo{
	width: 17%;
	padding-top: 25px;
	margin-left: 3%;
}
#footerNav ul{
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: 0 auto;
}
#footerNav a{
	color: white;
}
#icon ul{
	display: flex;
	justify-content: flex-end;	
}
#icon li{
	margin-right: 60px;
}
#copyRight{
	color: white;
	float: right;
	margin-top: 20px;
	margin-right: 60px;
}



